* {
    box-sizing:border-box
}

body {
    background: linear-gradient(to right, #000000, #434343);
    background-repeat: no-repeat;
    margin:0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 8px;
    height: 100px;
}

.caja1 {
    display:flex;
}

.caja2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.logo {
    height:95%;
}

ul {
    display: flex;
    padding-inline-start: 0px;
    list-style-type: none;
}


.navegador {
    display: flex;
    align-items: center;
}



.error{
    color:white;
    font-family: 'Oswald', sans-serif;
}

.formulario {
    display: flex;
    align-self: center;
}

input {
    width: 300px;
    height: 35px;
}

.boton_form {
    width: 40px;
    height: 35px;
}

.categorias {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    width:95%;
    height: 600px;
}

.imagen {
    width: 400px;
    height: 500px;
    border: solid rgb(255, 225, 170) 5px;
    margin: 0px 10px;
    display:block;
    border-radius: 15px;
}

.textonav {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border-radius: 6px;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}


.texto {
    font-size: 18px;
    margin-left: 11px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: rgb(255, 225, 170);
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    margin-left: 15px;
    width: 100%

}

.articulo1 {
    display: flex;
}

.articulo2 {
    display: flex;
    flex-direction: column;
}

.favoritos {
    width: 200px;
    height: 50px;
    margin-left: 10px;
    color:  black;
    font-family: 'Oswald', sans-serif;
    border: solid 4px rgb(255, 225, 170);
    border-radius: 5px;
    background-color: rgb(255, 225, 170);
}

.boton_recomendaciones {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin-left: 10px;
    color:  black;
    font-family: 'Oswald', sans-serif;
    border: solid 4px rgb(255, 225, 170);
    border-radius: 5px;
    background-color: rgb(255, 225, 170);
}

.logo_prov{
    max-width: 70px;
    max-height: 70px;
    border: solid 2px rgb(255, 225, 170);
    border-radius: 6px;
}

.elemento_prov{
    margin: 20px
}

.elemento_lista{
    color:white;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    margin:20px
}

.imagen_recomendaciones{
    max-width: 250px;
    max-height: 250px;
    border: solid 2px rgb(255, 225, 170);
    border-radius: 6px;
}

.detalleSeries {
    margin-left:30px;
}

.proveedores {
    margin-left: 20px
}
.articulo {
    max-width: 500px;
    margin: 20px;
}

.trailers{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

h2{
    color:rgb(255, 225, 170);
    width:100%;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    margin-left: 40px;
}
.texto1 {
    color: rgb(255, 225, 170);
    margin:0%;
    font-size: 20px;
    width:100%;
    margin-left: 11px;
    font-family: 'Oswald', sans-serif;
}

.texto2 {
    font-size: 15px;
    margin-left: 11px;
    color:white;
    font-family: 'Oswald', sans-serif;
}

footer{
    background-color:black;
    height:250px;
    margin-top: 25px;
}

.contacto {
    display: flex;
    justify-content: center;
    margin: 0px 5px 8px 8px;
}

.icono {
    margin: 3px 8px;
}

.contacto i {
    font-size: 18px;
    color: white;
}

.logo_tmdb {
    width: 200px;
    height: 80px;
}

.art2_footer{
    display: flex;
    justify-content: center;
}



@media (max-width:1024px) {

    body {
        width: auto;
        margin-right: 0px;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: 130px;
    }

    .logo {
        height: 8vh;
    }

    .textonav {
        font-size: 16px;
        margin: 0px 10px;
    }

    .caja2 {
        margin-right: 30px;
    }

    input {
        width: 250px;
        height: 30px;
    }

    button {
        height:30px;
    }

    .imagen {
        max-width: 300px;
    }

    .articulo1{
        justify-content: center;
    }
    
    .proveedores{
        flex-wrap: wrap;
    }

    h1{
        justify-content: center;
        display: flex;
    }
    
    .articulo_boton {
        display: flex;
        justify-content: center;
    }

    .trailers {
        display: flex;
        flex-wrap: wrap;   
    }
}


@media (max-width:650px) {

    .textonav {
        font-size: 10.5px;
        margin: 0px 5px;
    }

    input {
        width: 172px;
        height:25px;
    }

    button {
        width: 35px;
        height:25px;
    }

    .texto {
        font-size: 15px;
    }

    h1 {
        font-size: 23px;
        display: flex;
        justify-content: center;
    }
    
    h2{
        font-size: 30px;
    }
    .articulo1 {
        display: flex;
        justify-content: center;
    }

    .proveedores{
        flex-wrap: wrap;
    }

    .trailers{
        justify-content: center;
    }

    .video_trailer{
        max-width: 400px;
    }

    .logo_prov{
        max-width: 60px;
    }
    .contacto i {
        font-size: 14px;
    }
}
