* {
    box-sizing:border-box
}

body {
    background: linear-gradient(to right, #000000, #434343);
    background-repeat: no-repeat;
    margin:0px;
}

.Descripcion_Peli{
    color: aliceblue;
    display: flex;
    font-size: small;
    text-align: center;
    text-align: justify;
    margin-right: 15px;
    
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 8px;
    height: 100px;
}

.caja1 {
    display:flex;
}

.caja2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.error{
    color:white;
    font-family: 'Oswald', sans-serif;
}


.logo {
    height: 8vh;
}

ul {
    display: flex;
    padding-inline-start: 0px;
    list-style-type: none;
}

.navegador {
    display: flex;
    align-items: center;
}

.formulario {
    display: flex;
    align-items: center;
}

input {
    width: 300px;
    height: 35px;
}

button {
    height:35px;
}
.imagen {
    width: 50%;
    height: 30%;
    display:flex; 
    display:block;
    flex-wrap: nowrap;
}

.textonav {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 0 4px;
    border-radius: 6px;
    font-size: 70%;
    margin: 0px 0px;
    font-family: 'Oswald', sans-serif;
}

.Img_de_peli{
    
    align-self: flex-start;
    width: 84%;
    padding-left: 5%;
}

.texto1 {
    color: rgb(255, 225, 170);
    margin:0px 0px 0px 11px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.texto2 {
    font-size: 15px;
    margin-left: 11px;
    color:white;
    font-family: 'Oswald', sans-serif;
}

footer{
    background-color:black;
    height:250px;
    margin-top: 25px;
}

.contacto {
    display: flex;
    justify-content: center;
    margin: 0px 5px 8px 8px;
}

.logo_tmdb {
    width: 200px;
    height: 80px;
}

.art2_footer{
    display: flex;
    justify-content: center;
}

.icono {
    margin: 3px 8px;
}

.contacto i {
    font-size: 18px;
    color: white;
}

.Iamgen_de_Pleicula{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 30% ;
    overflow: hidden;
}

.Parrafo {
    flex-direction: row;
    width: 50%;
    height: 30% ;
    overflow: hidden;
    font-family: monospace;
    margin-right: 10px;
    
}

.Detalles_peliculas{
    display: flex;
}

.botonfavoritos {
    width: 40%;
    margin-left: 2.5%;
    background-color: black;
    color: white;
    border: solid  rgb(255, 225, 170) 2px;
    font-family: 'Oswald', sans-serif;
}

.Director{
    font-size: small;
    color: antiquewhite;
    
}

.Titulo {
    color: #000000;
    font-size: larger;
    margin: revert;
    padding-left: 3%;
    background-color: rgb(255, 225, 170);
    font-family: 'Oswald', sans-serif;
}

.Capitulos {
    width: 40%;
    margin-left: 2.5%;
    background-color: black;
    color: white;
    border: solid  rgb(255, 225, 170) 2px;
    font-family: 'Oswald', sans-serif;
}

.ytp-cued-thumbnail-overlay-image {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    position: absolute;
    margin-bottom: 100px;
}


@media (min-width:1024px) {

 .Img_de_peli{
  
    height: 500px;
    padding-left: 100px;
    width: 70%;
}

.Titulo{
    font-size: 40px;
    display: flex;
    padding-left: 11%;
}

.Descripcion_Peli {
    font-size: 20px;

}
.botonfavoritos {
    width: 26%;
    margin-left: 8%;
    height: 50px;
}

.Director {
font-size: 20px;
}

.Capitulos {
    width: 26%;
    margin-left: 8%;
    height: 50px;
}

.ytp-cued-thumbnail-overlay-image {
    height: 500px;
    margin-bottom: 100px;

}
 .textonav{
    font-size: 18px;
    margin: 0px 10px;
}

.boton_form {
    height: 35px;
}
}


@media only screen and (min-width:650px) and (max-width: 1024px) {

    .ytp-cued-thumbnail-overlay-image{
        height: 500px;
    }

    .textonav {
        font-size: 65%;
        margin: 0px 30px;

}
    input {
        width: 80%;
        height: 30px;
}
    button {
        height: 30px;
}

}


