
* {
    box-sizing:border-box
}

body {
    background-color: black;
}

header {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(247, 128, 16, 0.864);
    padding: 15px;
    height: 100px;
    justify-content: space-between;
}

.logo {
    border-radius: 28px;
    height: 100%;
}

.navegador {
    display: flex;
    height: 50px;
}


fieldset {
    display: flex;
    align-self: flex-end;
}

h2 {
    color:rgba(247, 128, 16, 0.864)
}

footer{
    display: flex;
    background-color: black;
    max-width: 100%;
    max-height: max-content;
    background-color: rgba(244, 144, 50, 0.691);
    height: 100px;
    align-self: flex-end;
}

p{
color: black;
}

@media (min-witdh:10324px) {

    header {
        height: 150%;
    }
}