
* {
    box-sizing:border-box
}

body {
    background-color: black;
}

header {
    display:flex;
    flex-direction: row;
    width: 420px;
    flex-wrap: wrap;
    background-color: rgba(247, 128, 16, 0.864);
    padding: 15px;
    height: 100px;
    justify-content: space-between;
}

.logo {
    border-radius: 28px;
    height: 64%;
}

.navegador {
    display: flex;
    height: 50px;
    width: 200px;
    align-content: center;
    justify-content: flex-end;
    font-size: 12px;
}


form {
    display: flex;
    align-self: flex-end;
}


.categorias {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
}

h2.titulocategorias {
    display: block;
    color:rgba(247, 128, 16, 0.864);
    max-width: 420px;
    display: flex;
}

.tendencias {
    display: flex;
    display: block;
   align-items: center;
   background-color: rgba(122, 230, 194, 0.787);
   margin:15px;
   padding:15px;
   width: 150px;
   flex-wrap: nowrap;
}

article {
    display: flex;
    flex-direction: row;
}



footer{
    display: flex;
    background-color: black;
    max-width: 100%;
    max-height: max-content;
    background-color: rgba(247, 128, 16, 0.864);
    height: 100px;
    align-self: flex-end;
}

.imagen {
    width: 200px;
    height: 100px;
    padding:15px;
    margin:10px;
    display:flex;
    
}

p{
color: black;
}

