
* {
    box-sizing:border-box
}

body {
    background: linear-gradient(to right, #000000, #434343);
    background-repeat: no-repeat;
    margin:0px;
    width: 100%;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 8px;
    height: 100px;
}

.caja1 {
    display:flex;
}

.caja2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.logo {
    height:95%;
}

ul {
    display: flex;
    padding-inline-start: 0px;
    list-style-type: none;
}

.navegador {
    display: flex;
    align-items: center;
}

.textonav {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    border-radius: 6px;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}

.error{
    color:white;
    font-family: 'Oswald', sans-serif;
}

.formulario {
    display: flex;
    align-items: center;
}

input {
    width: 300px;
    height: 35px;
}

button {
    width: 40px;
    height: 35px;
}


.section_generos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.titulo_section{
    width:100%;
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 225, 170);
}

.genero {
    width: 30%;
    height: 250px;
    background-color: black;
    margin: 10px 5px;
    border-radius: 63px;
    border:solid rgb(255, 225, 170) 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_det_generos {
    text-decoration: none;
}

h3{
    color: rgb(255, 225, 170);
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}


footer{
    background-color:black;
    height:250px;
    margin-top: 25px;
}

.texto1 {
    color: rgb(255, 225, 170);
    margin:0px 0px 0px 11px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.texto2 {
    font-size: 15px;
    margin-left: 11px;
    color:white;
    font-family: 'Oswald', sans-serif;
}

.contacto {
    justify-content: center;
    margin: 0px 5px 8px 8px;
}

.logo_tmdb {
    width: 200px;
    height: 80px;
}

.art2_footer{
    display: flex;
    justify-content: center;
}


.icono {
    margin: 3px 8px;
}

.contacto i {
    font-size: 18px;
    color: white;
}

/*----MEDIA QUERIES-----*/


@media (max-width:1024px) {

    header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .caja1 {
        display: flex;
    }

    .logo {
        height: 8vh;
    }

    .textonav {
        font-size: 12.5px;
        margin: 0px 24px;
    }

    .caja2 {
        display: flex;
        justify-content: flex-start;
    }

    input {
        width:200px;
        height:30px;
    }

    button {
        height:30px;
    }

    .titulosection {
        font-size: 35px;
    }

    .genero {
        width: 45%;
    }

    h3 {
        font-size: 45px;
    }
}


@media (max-width:650px) {

    .textonav {
        font-size: 11px;
        margin: 0px;
    }

    input {
        width: 172px;
        height:22px;
    }

    button {
        height:22px;
    }

    .logo {
        height: 8vh;
    }

    .titulo_section {
        font-size: 30px;
    }

    .genero {
        width: 85%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h3 {
        font-size: 40px;
    }

    .texto1 {
        font-size: 15px;
    }

    .contacto i {
        font-size: 14px;
    }

}