
* {
    box-sizing:border-box
}

body {
    background: linear-gradient(to right, #000000, #434343);
    background-repeat: no-repeat;
    margin:0px;
    width: 100%;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 8px;
    height: 100px;
}

.caja1 {
    display:flex;
}

.caja2 {
    display: flex;
}

.logo {
    height:95%;
}

ul {
    display: flex;
    padding-inline-start: 0px;
    list-style-type: none;
}

.navegador {
    display: flex;
    align-items: center;
}

.textonav {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 0 4px;
    border-radius: 6px;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}

.formulario {
    display: flex;
    align-self: center;
}

input {
    width: 300px;
    height: 35px;
}

button {
    width: 40px;
    height: 35px;
}


.categoria {
    margin: 10px 0px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



article {
    margin: 20px 0px;
}

.titulocategorias {
    color: rgb(255, 225, 170);
    width:100%;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.titulosubcategorias {
    color:rgb(255, 225, 170);
    width:100%;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin: 10px 22px;
}

h3 {
    color: rgb(255, 225, 170);
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

h5{
    color: rgb(255, 225, 170);
    text-align: center;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

.imagen {
    width: 250px;
    height: 400px;
    border: solid rgb(255, 225, 170) 5px;
    margin: 0px 10px;
}

.boton_ver_ahora {
    color: black;
    font-weight: bold;
    background-color: rgb(255, 225, 170);
    border: solid 4px rgb(255, 225, 170);
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 42px;
    margin-left: 70px;
    border-radius: 6px;
}

.verahora {
    background-color: rgb(255, 225, 170);
    color: black;
    text-decoration: none;
}

.texto1 {
    color: rgb(255, 225, 170);
    margin:0%;
    font-size: 20px;
    width:100%;
    margin-left: 11px;
    font-family: 'Oswald', sans-serif;
}

.texto2 {
    font-size: 15px;
    margin-left: 11px;
    color:white;
    font-family: 'Oswald', sans-serif;
}

footer{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    background-color:black;
    height:150px;
}

.contacto {
    display: flex;
    justify-content: center;
    margin: 0px 5px 8px 8px;
}

.icono {
    margin: 3px 8px;
}

.contacto i {
    font-size: 18px;
    color: white;
}

/*----MEDIA QUERIES-----*/


@media (max-width:1024px) {

    header {
        display: flex;
        flex-direction: column;
    }

    .caja1 {
        display: flex;
    }

    .logo {
        height: 8vh;
    }

    .textonav {
        font-size: 65%;
        margin: 0px 30px;
    }

    .caja2 {
        display: flex;
        justify-content: flex-start;
    }

    input {
        width:80%;
        height:30px;
    }

    button {
        height:30px;
    }

    .formulario {
        align-items: flex-end;
    }

    .imagen {
        min-width: 200px;
    }

    .categoria {
        flex-wrap: wrap;   
    }

    .titulosubcategorias {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}


@media (max-width:650px) {

    header {
        flex-direction: column;
        height:120px;
    }

    .textonav {
        font-size: 70%;
        margin: 0px 0px;
    }

    input {
        height:25px;
    }

    button {
        height:25px;
    }

    .logo {
        height: 8vh;
    }

    .titulosubcategorias {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }

    .texto1 {
        font-size: 15px;
    }

    .contacto i {
        font-size: 14px;
    }
}