* {
    box-sizing:border-box
}

body {
    background: linear-gradient(to right, #000000, #434343);
    margin:0px;
    width: 100%;
}


.Nombre_de_Pelicula{
color: aliceblue;
display: flex;
font-size: small;
}

.Parrafo_de_detalles{
color: aliceblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    padding: 8px;
    height: 100px;
}

.caja1 {
    display:flex;
}

.caja2 {
    display: flex;
}

.logo {
    height:95%;
}

ul {
    display: flex;
    padding-inline-start: 0px;
    list-style-type: none;
}

.navegador {
    display: flex;
    align-items: center;
}

a {
    color: rgb(255, 225, 170);
    text-decoration: none;
    background-color: black;
    padding: 5px;
    margin: 0 4px;
    border-radius: 6px;
    font-size: 18px;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
}

.formulario {
    display: flex;
    align-self: center;
}

input {
    width: 300px;
    height: 35px;
}

button {
    width: 40px;
    height: 35px;
}


.categorias {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-between;
    width:95%;
    height: 600px;
}

.imagen {
    width: 50%;
    height: 30%;
    display:flex; 
    display:block;
    flex-wrap: nowrap;
}

h2.titulocategorias {
    display: block;
    color:lightsalmon;
    width:100%;
    display: flex;
    margin:0%;
    height:5%;
}

.Img_de_peli{
    
    align-self: flex-start;
    width: 84%;
    padding-left: 5%;
}

.texto1 {
    color: rgb(255, 225, 170);
    margin:0%;
    font-size: 20px;
    width:100%;
    margin-left: 11px;
    font-family: 'Oswald', sans-serif;
}

.texto2 {
    font-size: 15px;
    margin-left: 11px;
    color:white;
    font-family: 'Oswald', sans-serif;
}

footer{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    background-color:black;
    height:150px;
}

.contacto {
    margin:1%;
    display: block;
    width: 100%;
    margin: 0.5% 0%;
    text-align: center;
}

.contacto i {
    font-size: 18px;
    color: white;
}

.Iamgen_de_Pleicula{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 30% ;
    overflow: hidden;
}

.Parrafo {
    flex-direction: row;
    width: 50%;
    height: 30% ;
    overflow: hidden;
}

.Detalles_peliculas{
    display: flex;
}

Button {
    width: 40%;
    margin-left: 2.5%;
    background-color: black;
    color: white;
}

.Director{
    font-size: small;
    color: antiquewhite;
    
}